
/**/

.main{
    background-color: rgba(132, 224, 155, 0.267);
    padding: 50px 50px 50px 50px;
    
}
.main-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 10vh;
    padding: 0;
    z-index: 1;
}
.main-content {
   background-color: #f9f7e8;
    border-radius: 5px;
}
.main-content h1{
    /*background-color:  #decbb3;*/
    color: #333333;
    word-spacing: 6px;
    line-height: 1.6;
    letter-spacing: 2px;
    font-size: 2rem;
    height: 10vh;
    padding: 30px 20px 0px 40px;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-content h2{
    /*background-color: #d19e38;*/
    color: #333333;
    word-spacing: 6px;
    line-height: 1.6;
    letter-spacing: 2px;
    font-size: 3rem;
    height: 10vh;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*padding: 10px 60px 20px 350px;*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-content p{
    margin-top: 2rem;
    font-size: 1rem;
    word-spacing: 6px;
    line-height: 1.6;
    letter-spacing: 2px;
    font-weight: 700;
    color: #333333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5%;
    
}

@media screen and (max-width: 786px){
    .main-container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main-content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .main-content h2{
        font-size: 3rem;
    }

    .main-content h3{

    }

    .main-content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px){
    .main-content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main-content h2{
        font-size: 2rem;
    }

    .main-content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main-btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}


.main-img{
    background-color: rgba(132, 224, 155, 0.267);
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}

.main-img-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1rem;
}

.main-img-card{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out;
    width: 600px;
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color:  #fff;
}

.main-img-card.reveal{
    opacity: 1;
    transform: translateY(0);
}

.main-img-card img{
    width: 100%;
    
    display: block;
}

.main-img-card h2{
    
    color: #333333;
    word-spacing: 6px;
    line-height: 1.6;
    letter-spacing: 2px;
}


@media screen and (max-width: 960px){
    .main-img{
        flex-direction: row;
        height: auto;
        padding-bottom: 50px;
    }
    .main-img-card h2{
        font-size: 2rem;
        margin-top: 1rem;
        flex: 1 1 45%;
    }
    
}

@media screen and (max-width: 480px){
    .main-img{
        flex-direction: column;
        align-items: center;
       /* width: 100%;
        height: 700vh;
        */
    }
    .main-img-container{
        width: 100%;
        padding: 0 1rem;
    }
    .main-img-card h2{
        font-size: 1.2rem;
    }
    .main-img-card{
        width: 100%;
        height: auto;
        margin: 0 0 1rem 0;
    }
}

/*createPost page form*/
#create-post-form{
    
}

#post-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 15px;
    font-weight: bold;
    color:  #333333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    
}

.post-label{
    text-align: left;
    outline: none;
}

.post-input{
    outline: none;
    border: 1px solid #ccc; /* adds a light grey border */
    border-radius: 4px;
    font-size: 16px; 
}

.post-text{
    outline: none;
    border: 1px solid #ccc; /* adds a light grey border */
    border-radius: 4px;
    font-size: 16px; 
}

#post-input:focus, #post-text:focus { 
    border-color: #007bff; /* changes border color to blue when focused or in the box */
}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 480px){

}


